{
  "service": {
    "name": "<%= @alertmanager_project %>-alertmanager",
    "port": 9093,
    "tags": [
      "%%ENVIRONMENT%%",
      "<%= @alertmanager_project %>",
      "traefik.tags=<%= @tag_name %>",
      "traefik.frontend.rule=PathPrefix:/alertmanager"
    ],
    "check": {
       "http": "http://localhost:9093/alertmanager/",
       "interval": "10s",
       "timeout": "1s"
    }
  }
}
